<p style="color: green"><%= notice %></p>

<h1>All Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Date</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.name, event %>
        </td>

        <td><%= event.date%></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>

        <td><%= link_to 'Show Event', event,
                class: "btn btn-outline-danger btn-sm" %></td>
        <td><%#= link_to 'Edit', edit_event_path(event),
                class: "btn btn-outline-danger btn-sm" %></td>
        <td><%#= link_to 'Delete', event, method: :delete, data: { confirm:'Are you sure?' },
                class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>